@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.user {
  display: flex;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__photo {
    flex-shrink: 0;
    display: block;
    width: 100px;
    min-height: 100px;
    height: auto;
    margin-right: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 7px 20px rgba(0,0,0,.2);
  }

  &__friends-count {
    font-weight: bold;
    display: flex;
    align-items: center;

    svg {
      fill: $color-light;
      margin-right: 0.5rem;
    }
  }

  &__logout {
    align-self: flex-start;
    margin-bottom: 1.5rem;
  }
}
